
<%= form_for @dish do |f| %>

<p><%= f.label :category %></p>
<%= select_tag 'category_id', options_from_collection_for_select(Category.all, 'id', 'name')%>

 


<div class="form-group">
   <%= f.label :name %>
   <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
   <%= f.label :description %>
   <%= f.text_area :description, class: 'form-control' %>
</div>

<div class="form-group">
   <%= f.label :receipt %>
   <%= f.text_area :receipt, class: 'form-control' %>
</div>


<div class="form-group">
   <%= f.label :price %>
   <%= f.text_field :price, class: 'form-control' %>
</div>

<div class="form-group">
   <%= f.submit 'Зберегти', class: 'btn btn-primary' %>
     <%= link_to 'Назад', :back, class: 'btn btn-outline-secondary'%>
</div>

<% end %>